* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
.dark-mode {
    background-color: rgb(25, 23, 23);
    color: rgb(255, 255, 255);
}

.menu-button{
    position: relative;
    /* right: 50px; */
    width: 210px;
    align-items: center;
    border-style: none ;
    cursor: pointer;
    transition: 500ms ease;
    margin: 0px;
    padding: 5px 10px;

}


.menu-button:hover{
    filter: brightness(80%);
}

.start-button{

    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5%;
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    transition: 500ms ease;
    filter: drop-shadow();
}

.start-button:hover{

    filter: brightness(90%);


}

.level {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 1000;
    transition: 300ms ease;
}
.text-grow{
    font-size: 30px;
    color: lightgreen;
}

.flex-row {
    display: flex;
    gap: 10px;
    margin: 10px;
}


.square {
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    border-radius: 5%;
    transition: 300ms ease;
    filter: brightness(70%);
    /* z-index: ; */

}

.square:hover {
    filter: brightness(1.1);
}


#green {
    background-color: green;
}

#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}

.get-rounder {
    border-radius: 50%;
    filter: brightness(1.3);
}

.flex-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#top-header{


    text-align: center;
    justify-content: center;
    padding: 7px 0px 0px 0px;
    font-size: 20px;
    color: white;
    font-size: 30px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

/* style the header */
.header{
    top: 0;
    width: 100%;
    height: 64px;
    margin: 0px 0px 60px 0px;
    position: relative;
    background-color: rgb(77, 23, 255);
  }
  
/* Nav menu */
nav {
    top: 0;
    position: fixed;
    right: -100%;
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding-top: 48px;
    transition: right 0.5s ease;
    background-color: rgba(77, 23, 255, 0.682);
    z-index:1;
  }
  


  #hamburger-icon {
    z-index: 6;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }
  
  .line {
    width: 36px;
    height: 6px;
    margin: 6px;
    background-color: #ffffff;
  } 
  
  #hamburger-btn {
    display: none;
  }

/* Toggle menu icon */
#hamburger-btn:checked+nav {
    right: 0;
  }
  
ul > h1 {
    color: white;
    position: relative;
    left: 25px;
    margin: 45px 0px 30px 0px
}
  
.color-blind{
    filter: contrast(0);
    
}

.color-blind:hover{
    filter: contrast(0);
    filter: brightness(0);
    
}

#difficulty{
    margin: -57px 0px 10px 3px;
}

.left-side-text {
    margin: 0px 0px 0px 3px;
}
#high-score{
    margin: -80px 10px 50px 0px;
    text-align: right;
}

#hints-button{
    position: relative;
    bottom: 23px;
    left: 60px;
    padding: 7px px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10%;
    border-style: none;
    background-color:  rgb(77, 23, 255);
    transition: 500ms ease;
    filter: drop-shadow();

}

#hints-button:hover{
    background-color: blanchedalmond;
}



.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.725);
    color: white;
    font-size: 50px;
    transition: 1s ease;
}

.no-overlay {
    display: none;
}

.overlay > p {
    font-size: 20px;
}

#end-game {
    font-size: 30px;
}


#username {
    margin: 15px 0px 20px 0px;
    height: 40px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    border-style: none;
}

#submit {
    padding: 5px 30px;
    border-style: none;
    border-radius: 7%;
    font-weight: 500;
    background-color:   rgb(56, 15, 190);
    color: white;
    transition: 500ms ease;
}

#submit:hover {
    background-color:  rgb(77, 23, 255);
    cursor: pointer;
}

/* I've copied the base for the below css from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  @media (max-width: 600px) {




    .left-side-text{
        margin: 15px 0px 0px 0px;
    }

    #top-header{
        font-size: 20px;
        position: relative;
        top: 10px;
    }

    .square {
        width: 150px;
        height: 150px;
    }

    #hamburger-btn:checked+nav {
        right: 0;
        z-index: 5;
        background-color: rgb(69, 15, 195);
        width: 100%;
        text-align: center;
     
      }

    .menu-button {
        width: 100%;
        height: 80px;
    }

    ul > h1 {
        left: 0px;

    }




  }
