* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
.dark-mode {
    background-color: rgb(25, 23, 23);
    color: rgb(255, 255, 255);
}

.menu-button{
    position: relative;
    right: 50px;
    width: 210px;
    align-items: center;
    border-style: none ;
    cursor: pointer;
    transition: 500ms ease;
    margin: 0px;
    padding: 5px 10px;

}


.menu-button:hover{
    filter: brightness(80%);
}

.start-button{

    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5%;
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    transition: 500ms ease;
    filter: drop-shadow();
}

.start-button:hover{

    filter: brightness(90%);


}

.level {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 1000;
    transition: 300ms ease;
}
.text-grow{
    font-size: 30px;
    color: lightgreen;
}

.flex-row {
    display: flex;
    gap: 10px;
    margin: 10px;
}


.square {
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    border-radius: 5%;
    transition: 300ms ease;
    filter: brightness(70%);

}

.square:hover {
    filter: brightness(1.1);
}


#green {
    background-color: green;
}

#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}

.get-rounder {
    border-radius: 50%;
    filter: brightness(1.3);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#top-header{


    text-align: center;
    justify-content: center;
    padding: 7px 0px 0px 0px;
    font-size: 20px;
    color: white;
    font-size: 30px;
}

ul {
    list-style: none;
  }

/* style the header */
.header{
    top: 0;
    width: 100%;
    height: 64px;
    margin: 0px 0px 60px 0px;
    position: sticky;
    background-color: rgb(77, 23, 255);
  }
  
/* Nav menu */
nav {
    top: 0;
    position: fixed;
    right: -100%;
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding-top: 48px;
    transition: right 0.5s ease;
    background-color: rgba(77, 23, 255, 0.682);
  }
  


  #hamburger-icon {
    z-index: 1;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }
  
  .line {
    width: 36px;
    height: 6px;
    margin: 6px;
    background-color: #ffffff;
  } 
  
  #hamburger-btn {
    display: none;
  }

/* Toggle menu icon */
#hamburger-btn:checked+nav {
    right: 0;
  }
  
ul > h1 {
    color: white;
    position: relative;
    right: 15px;
    margin: 45px 0px 30px 0px
}
  
.color-blind{
    filter: contrast(0);
    
}

.color-blind:hover{
    filter: contrast(0);
    filter: brightness(0);
    
}

#difficulty{
    margin: -57px 0px 50px 3px;
}